/* Prevent navbar from overlaying main body content */
body {
    padding-top: 70px;
}

.navbar-right {
    padding-right: 20px;
}

.list-row, .list-header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.list-row {
    border-top-style: inset;
}

.list-create-new-button {
    margin-top: 5px;
}
