/* Prevent navbar from overlaying main body content */
body {
    padding-top: 70px;
}

#notification {
    position: fixed;
    width: auto;
    height: 2em;

    width: 100%;

    margin-top: 1.5em;
    margin-bottom: 1.5em;

    bottom: 0px;

    pointer-events: none;
}

.notification-text {
    border-top: groove;
    padding: 1em;

    pointer-events: auto;
}

.navbar-right {
    padding-right: 20px;
}

.list-button, .list-create-new-button {
    margin-top: 5px;
    margin-left: 5px;
}

.edit-form-btn {
    margin-left: 5px;
}

.list-timestamp {
    padding-left: 0.5em;
}

.list-editor input[type=number] {
    width: 75%;
}

.offset-button {
    opacity: 0;
    padding-left: 0.5em;
}

abbr.offset-button {
    text-decoration: none;
    border-bottom: none;
}

.list-row:hover .offset-button {
    opacity: 0.5;
}

.list-row .offset-button:hover {
    opacity: 1.0;
}

.sort-indicator {
    margin-left: 3px;
    font-size: 10px;
}
