.inv-list-item, .inv-rsvp-list, .inv-list-header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.inv-list-item {
    border-top-style: inset;
}

.status-unavailable {
    background-color: #ff7272;
}

/* .status-available uses defaults */

.new-item-form * {
    display: block;
}

.offset-button {
    opacity: 0;
    padding-left: 0.5em;
}

.inv-rsvp-item:hover > .offset-button,
.inv-item-name:hover > .offset-button {
    opacity: 1.0;
}

.inv-list-item input[type=number] {
    width: 75%;
}
