<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Parts Tracker</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>

        <!-- Template for list view, ignore: -->
        <script type="text/template" id="inv-row-template">
            <td><%= name %></td>
            <td><%= status %></td>
            <td><%= available %></td>
            <td><%= reserved %></td>
            <td><%= count %></td>
        </script>

        <table class="table table-hover" id="inv-table">
            <tr>
                <th>Item Name</th>
                <th>Status</th>
                <th># Available</th>
                <th># Reserved</th>
                <th># Total</th>
            </tr>
        </table>

        <script src="js/bundle.js" charset="utf-8"></script>
    </body>
</html>
